!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.9.1.min.js');
    script(type='text/javascript', src='http://raw.github.com/documentcloud/underscore/master/underscore.js');
    script(type='text/javascript', src='http://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js');
    script(type='text/javascript', src='/javascripts/backbone.min.js');
    
    script(type='text/javascript', src='/javascripts/backbone/router.js');
    script(type='text/javascript', src='/javascripts/backbone/views/app_view.js');
    script(type='text/javascript', src='/javascripts/main.js');
  body!= body